@model List<Account>
@{
    Layout = "_AdminLayout";
}

<head>
    <link rel="stylesheet" type="text/css" href="/css/Table.css">
</head>
<body>
    <div class="table-container">
        <h1>User Data</h1>
        <h3>@ViewBag.SuccessMsg</h3>
        <table>
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Full Name</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>Image</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- Table rows will be dynamically generated from the database -->
                @foreach (var item in Model)
                {
                    <tr>
                        <td asp-for="Email">@item.Email</td>
                        <td>@EncryptionHelper.Decrypt(item.Password)</td>
                        <td>@item.FullName</td>
                        <td>
                            @if (item.Role == 1)
                            {
                                <span>Admin</span>
                            }
                            else if (item.Role == 2)
                            {
                                <span>Employee</span>
                            }
                            else
                            {
                                <span>Customer</span>
                            }
                        </td>
                        <td>@if (item.IsActive == 2)
                            {
                                <span style="color:red; font-size:20px;">Required Password Change</span>
                            }
                        </td>
                        <td><img src="@item.Image" alt="User Image"></td>
                        <td><a href="/Authentication/ApprovePassword?email=@item.Email" class="approve-link">Approve</a> | <a href="/Authentication/DeclinePassword?email=@item.Email" class="decline-link">Decline</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>