
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using ProjectSWP391.Models
@model Product
<h1>
     @Model.Image 
     @Model.Description
@Model.ProductName
@Model.Price

@Model.Quantity
</h1> 
  

  


