@using ProjectSWP391.Models;
@using ProjectSWP391.Models.ServiceModel;
@model List<Product>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <Title>SmartBeauty.com</Title>
    <link rel="stylesheet" href="/css/LandingPage.css" /> 
</head>  
<body>
    @if (Global.CurrentUser != null && Global.CurrentUser.Role != null)
    {
        <h2 class="text-center text-danger mt-5"> Only Guest And Customer Can View This Page</h2>
    }
    else
    {
        @if (ViewBag.message.Length > 0)
        {
            <div id="popup">
                <span class="close" onclick="hidePopup()">&times;</span>
                <div class="row">
                    <div class="col-4" style="padding: 20px;">
                        <img src="/image/brand_logo.png" style="width: 100%; height: auto; border-radius: 50%; margin: 0 0 0 0; background-color: black; border: 3px solid darkgoldenrod" />
                    </div>
                    <div class="col-8" style="display: flex; flex-direction: column; justify-content: center;">
                        <h2 style="text-align: center; color: black;">@ViewBag.message[0]</h2>
                        <p style="text-align: center; color: green;">@ViewBag.message[1]</p>
                    </div>
                </div>
            </div>
        }
        <div class="overlay">
            <div class="container-fluid" style="background-color: #F7F5F5; padding: 0;">
                <div class="row banner">
                    <div class="banner_intro">
                        <h2 style="font-weight: bold;">Smart Beauty</h2>
                        <p style="text-align: justify; font-size: 18px">
                            As a professional beauty take care system, our duty is to bring the best service and products to everyone. We are
                            proudly to give our customers many extensions which help trade informations, booking service or buying our products
                            through our website.<span style="color: red;"> Smart Beauty, the key to paradise!</span>
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div style="width: 50%; margin-left: 25%; padding: 10px;">
                        <h2 class="text-dark text-center mt-4">Booking easily in 30s</h2>
                        @{
                            if (Global.CurrentUser == null)
                            {
                                <form class="phone_input" asp-action="LoadByPost" asp-controller="Booking" method="post">
                                    <input type="tel" name="phone" pattern="[0-9]{10}" placeholder="Enter Phone Number" required title="You must enter a valid phone number!" style="border-radius: 5px; min-width: 50%; padding-left: 10px; border: none; border-bottom: 2px solid aquamarine">
                                    <button type="submit" class="booking_btn btn1">BOOK NOW</button>
                                </form>
                                if (ViewBag.currentBooking != null)
                                {
                                    <p style="text-align: center; width: 100%;">
                                        This phone number has an upcoming booking on <span style="text-decoration: none;">@(ViewBag.currentBooking.BookingDate.ToString("dd/MM/yyyy")) </span>
                                        <a style="text-decoration: none;" href="/Booking/BookingDetails?bookingID=@(ViewBag.currentBooking.BookingId)">  Details</a>
                                    </p>
                                }
                            }
                            else
                            {
                                if (ViewBag.currentBooking != null)
                                {
                                    <p style="text-align: center; width: 100%;">
                                        You have an upcoming booking on <span style="text-decoration: none;">@(ViewBag.currentBooking.BookingDate.ToString("dd/MM/yyyy")) </span>
                                        <a style="text-decoration: none;" href="/Booking/BookingDetails?bookingID=@(ViewBag.currentBooking.BookingId)">  Details</a>
                                    </p>
                                }
                                else
                                {
                                    <form class="phone_input" asp-action="LoadByPost" asp-controller="Booking" method="post">
                                        <button type="submit" class="booking_btn btn2">BOOK NOW</button>
                                    </form>
                                }
                            }
                        }

                    </div>
                </div>
            </div>

            <!-- Product here -->
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row row-col-2 mb-2">
                    <div class="col"><h2 style="font-weight: bold;">Best Seller Products</h2></div>
                    <div class="col" style="display: flex; justify-content: end; align-items: center;">
                        <a style="text-decoration: none; font-size: 20px;" asp-action="ProductList" asp-controller="CustomerManagement">View All➜</a>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-2 row-cols-xl-4 justify-content-center">
                    @if (Model.Count == 0)
                    {
                        <p>There is no product found!</p>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <div class="col mb-5 rounded-1">
                                <a href="/CustomerManagement/ProductDetails?id=@item.ProductId" style="text-decoration: none;">
                                    <div class="card h-100" style="flex-direction: unset; align-content: space-between; flex-wrap: wrap; justify-content: center; border: 2px solid #f7f7f7;">
                                        <!-- Product image-->
                                        @{
                                            if (item.Image == null)
                                            {
                                                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />

                                            }
                                            else
                                            {
                                                <img class="card-img-top" src="@item.Image" alt="@item.ProductName" />
                                            }
                                        }
                                        <!-- Product details-->
                                        <div class="card-body p-4" style="min-height: 100px; margin-top: 0px;">
                                            <div class="text-center">
                                                <!-- Product name-->
                                                <div style="height: 70px; overflow: hidden; text-overflow: ellipsis; white-space: pre-line">
                                                    <h6 class="fw-bolder text-dark text-start">@item.ProductName</h6>
                                                </div>
                                                <!-- Product price-->
                                                <div style="min-height: 30px;padding-top: 15px;">
                                                    <span class="text-danger">$@(Math.Round(item.Price, 2))</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Product actions-->
                                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent mb-3">
                                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/Purchase/Index?productId=@item.ProductId">Buy</a></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>

            <!-- Service here -->
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row row-col-2 mb-2">
                    <div class="col"><h2 style="font-weight: bold;">Good Price Service</h2></div>
                    <div class="col" style="display: flex; justify-content: end; align-items: center;">
                        <a style="text-decoration: none; font-size: 20px;" asp-action="ServiceList" asp-controller="CustomerManagement">View All➜</a>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-start">
                    @if (Model.Count == 0)
                    {
                        <p class="text-center">No service found!</p>
                    }
                    else
                    {
                        foreach (var item in ViewBag.ServiceList)
                        {
                            <div class="col mb-5 rounded-1;">
                                <a href="/CustomerManagement/ServiceDetail?sId=@item.ServiceId" style="text-decoration: none;">
                                    <div class="card h-100" style="flex-direction: unset; align-content: center; flex-wrap: wrap; justify-content: center;
                                        background-image: url('@(item.Image == null ? "https://dummyimage.com/450x300/dee2e6/6c757d.jpg" : item.Image)'); background-size: cover; background-position: center;">
                                        <!-- Product details-->
                                        <div style="background-color: rgb(0,0,0,0.5); width: 100%;">
                                            <div class="card-body p-4" style="min-height: 100px; opacity: 1;">
                                                <div class="text-center">
                                                    <!-- Product name-->
                                                    <div style="height: 70px; overflow: hidden; white-space: pre-line;">
                                                        <h6 class="fw-bolder text-white text-center">@item.ServiceName</h6>
                                                    </div>
                                                    <!-- Product price-->
                                                    <div style="min-height: 30px;padding-top: 15px; opacity: 1;">
                                                        <span class="text-danger">$@(Math.Round(item.Price, 2))</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Card footer -->
                                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent mb-3">
                                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" style="border: 1px solid white; color: papayawhip;" href="/Booking/Load?sID=@item.ServiceId">Book Now</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>

            <!-- Blog here -->
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row row-col-2 mb-2">
                    <div class="col"><h2 style="font-weight: bold;">Latest Story</h2></div>
                    <div class="col" style="display: flex; justify-content: end; align-items: center;">
                        <a style="text-decoration: none; font-size: 20px;" asp-action="BlogList" asp-controller="CustomerManagement">View All➜</a>
                    </div>
                </div>

                <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-4 justify-content-start">
                    @foreach (var item in ViewBag.BlogList)
                    {
                        <div class="col mb-5 rounded-1;" style="height: 350px; padding: 10px 10px 20px 10px">
                            <a href="/CustomerManagement/BlogDetail?id=@item.ID" style="text-decoration: none; color: black;">
                                <div style="width: 100%; height: 200px; overflow: hidden;">
                                    <img src="@(Global.ExtractFirstImage(item.Content))" style="width: 100%; height: auto; object-fit: contain;" />
                                </div>
                                <div style="padding: 15px 10px 5px 10px; text-align: center;">
                                    <h6>@item.Title</h6>
                                    <a style="color: orange; font-size: 16px; text-decoration: none;" href="/CustomerManagement/BlogDetail?id=@item.ID">READ MORE</a>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>

            <div id="dark_overlay"></div>
            @if(ViewBag.message.Length > 0)
            {
                <script>
                    document.getElementById("dark_overlay").style.display = "block";
                </script>
            }
        </div>
        <script>
            function hidePopup() {
                document.getElementById("popup").style.display = "none";
                document.getElementById("dark_overlay").style.display = "none";
            }
        </script>
    }
</body>
</html>

