@using ProjectSWP391.Models
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model X.PagedList.IPagedList<Product>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Products</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/ProductList.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/071e3e204d.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Header-->
    <header class="bg-dark py-3 mt-0" style="background-image: url('https://emc2rrspvpp.exactdn.com/wp-content/uploads/2021/04/HB_ProductPortfolioManagement_BlogFTImg_min.jpeg'); background-size: cover; background-position: top; background-blend-mode: exclusion;">
        <div class="container my-5">
            <!--Search and filter-->
            <div class="row" style="height: fit-content;">
                <div style="background-color: rgb(0,0,0,0.5); padding: 30px 0 10px 0; width: 90%; margin-left: 5%;">
                    <div class="text-center" style="color: antiquewhite;">
                        <h1 class="display-4 fw-bolder">Product</h1>
                        <p class="lead fw-normal mb-0" style="color: white; font-size: 25px;">You can buy luxury products here!</p>
                    </div>

                    <form action="/CustomerManagement/FilterProduct" method="post" style="opacity: 1; width: 100%; display: flex; flex-direction: row; justify-content:center; padding: 30px; margin-top: 20px; ">
                        <input id="search_textbox" type="search" name="searchName" value="@(ViewBag.searchName == null ? String.Empty : ViewBag.searchName)" placeholder="What are you looking for?" style="height: 60px; border: none; padding-left: 10px; flex-grow: 7; font-size: 15px; border-bottom: 5px solid aquamarine;" />
                        <select style="flex-grow: 3; margin-left: 10px; padding-left: 10px; font-size: 15px; border-bottom: 5px solid aquamarine;" name="searchCategory">
                            <option value="">Category</option>
                            @if (ViewBag.categoryFilter != null)
                            {
                                foreach (var item in ViewBag.categoryFilter)
                                {
                                    if (ViewBag.searchCategory.Equals(item.PcategoryName))
                                    {
                                        <option selected value="@(item.PcategoryName)">@(item.PcategoryName)</option>
                                    }
                                    else
                                    {
                                        <option value="@(item.PcategoryName)">@(item.PcategoryName)</option>
                                    }
                                }
                            }
                        </select>
                        <select style="flex-grow: 3; margin-left: 10px; padding-left: 10px; font-size: 15px; border-bottom: 5px solid aquamarine;" name="searchPrice">
                            <option selected value="0">Price</option>
                            @{
                                string[] list = (string[])ViewBag.priceFilter;
                                for (int i = 1; i <= list.Length; i++)
                                {
                                    if (ViewBag.searchPrice == i)
                                    {
                                        <option selected value="@(i)">@list[i-1].ToString()</option>
                                    }
                                    else
                                    {
                                        <option value="@(i)">@list[i-1].ToString()</option>
                                    }
                                }
                            }
                        </select>
                        <button id="search_btn" type="submit" style="background-color: dodgerblue; height: 60px; color: white; border: none; margin-left: 10px; flex-grow: 2;">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-2 row-cols-xl-4 justify-content-start">
                @if (Model.Count == 0)
                {
                    <p>There is no product found!</p>
                }
                else
                {
                    foreach (var item in Model)
                    {
                        <div class="col mb-5 " >
                            <a href="/CustomerManagement/ProductDetails?id=@item.ProductId" style="text-decoration: none;">
                                <div class="card h-100" style="flex-direction: unset; align-content: space-between; flex-wrap: wrap; justify-content: center; border: 2px solid #f7f7f7;">
                                    <!-- Product image-->
                                    @{
                                        if (item.Image == null)
                                        {
                                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                                            
                                        }
                                        else
                                        {
                                            <img class="card-img-top" src="@item.Image" alt="@item.ProductName" />
                                        }
                                    }
                                    <!-- Product details-->
                                    <div class="card-body p-4" style="min-height: 100px; margin-top: 0px;">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <div style="height: 70px; overflow: hidden; text-overflow: ellipsis; white-space: pre-line">
                                                <h6 class="fw-bolder text-dark text-start">@item.ProductName</h6>
                                            </div>
                                            <!-- Product price-->
                                            <div style="min-height: 30px;padding-top: 15px;">
                                                <span class="text-danger">$@(Math.Round(item.Price,2))</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent mb-3">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/Purchase/Index?productId=@item.ProductId">Buy</a></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                }
            </div>
            <!-- paging here -->
            <div class="row mt-4">
                <div class="pagination">
                    @if (Model.PageCount > 1)
                    {
                        <ul class="pagination-list">
                            @if (Model.PageCount > 3)
                            {
                                <li class="page-item navigation nav2"><a href="/CustomerManagement/ProductList?page=1&&sn=@(ViewBag.searchName)&&sc=@(ViewBag.searchCategory)&&sp=@(ViewBag.searchPrice)"><i class="fa-solid fa-angles-left"></i></a></li>
                            }
                            @if (Model.HasPreviousPage)
                            {
                                <li class="page-item navigation nav2"><a href="/CustomerManagement/ProductList?page=@(Model.PageNumber-1)&&sn=@(ViewBag.searchName)&&sc=@(ViewBag.searchCategory)&&sp=@(ViewBag.searchPrice)"><i class="fa-solid fa-angle-left"></i></a></li>
                            }
                            @{
                                if (Model.PageCount == 2)
                                {
                                    for (int i = 1; i <= 2; i++)
                                    {
                                        <li class="page-item @(i == Model.PageNumber ? "active" : "")">@Html.ActionLink(i.ToString(), "ProductList", new { page = i, Model.PageSize, sn = ViewBag.searchName, sc = ViewBag.searchCategory, sp = ViewBag.searchPrice })</li>
                                    }
                                }
                                else
                                {
                                    if (Model.PageNumber == 1)
                                    {
                                        for (int i = 1; i <= 3; i++)
                                        {
                                            <li class="page-item @(i == Model.PageNumber ? "active" : "")">@Html.ActionLink(i.ToString(), "ProductList", new { page = i, Model.PageSize, sn = ViewBag.searchName, sc = ViewBag.searchCategory, sp = ViewBag.searchPrice })</li>
                                        }
                                    }
                                    else if (Model.PageNumber == Model.PageCount)
                                    {
                                        for (int i = Model.PageCount - 2; i <= Model.PageCount; i++)
                                        {
                                            <li class="page-item @(i == Model.PageNumber ? "active" : "")">@Html.ActionLink(i.ToString(), "ProductList", new { page = i, Model.PageSize, sn = ViewBag.searchName, sc = ViewBag.searchCategory, sp = ViewBag.searchPrice })</li>
                                        }
                                    }
                                    else
                                    {
                                        for (int i = Model.PageNumber - 1; i <= Model.PageNumber + 1; i++)
                                        {
                                            <li class="page-item @(i == Model.PageNumber ? "active" : "")">@Html.ActionLink(i.ToString(), "ProductList", new { page = i, Model.PageSize, sn = ViewBag.searchName, sc = ViewBag.searchCategory, sp = ViewBag.searchPrice })</li>
                                        }
                                    }
                                }
                            }
                            @if (Model.HasNextPage)
                            {
                                <li class="page-item navigation nav2"><a href="/CustomerManagement/ProductList?page=@(Model.PageNumber+1)&&sn=@(ViewBag.searchName)&&sc=@(ViewBag.searchCategory)&&sp=@(ViewBag.searchPrice)"><i class="fa-solid fa-angle-right"></i></a></li>
                            }
                            @if (Model.PageCount > 3)
                            {
                                <li class="page-item navigation nav2"><a href="/CustomerManagement/ProductList?page=@(Model.PageCount)&&sn=@(ViewBag.searchName)&&sc=@(ViewBag.searchCategory)&&sp=@(ViewBag.searchPrice)"><i class="fa-solid fa-angles-right"></i></a></li>
                            }
                        </ul>
                    }
                </div>
            </div>
        </div>
    </section>
    <style>
        .card:hover {
            box-shadow: 0 0 5px 2px rgb(197,192,192,0.8);
        }
        .pagination{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .pagination-list{
            display: inherit;
            width: fit-content;
            list-style: none;
        }
        .page-item{
            min-width: 30px;
            margin-left: 5px;
            margin-right: 5px;
            border: 1px solid black;
            border-radius: 50%;
            text-align: center;
        }
        .page-item a{
            text-decoration: none;
            color: black;
        }
        .page-item.active{
            background-color: black;
        }
        .page-item.active a{
            color: white;
        }
        .page-item.navigation{
            align-content: center;
            border: none;
        }
        .page-item.navigation.nav1 a{
            font-weight: bold;
        }
     </style>
</body>
</html>

